#!/usr/bin/env bash
export UU_ORDER="$UU_ORDER:~/.xprofile"

if [ -d /usr/share/fonts/75dpi ]; then
	xset +fp /usr/share/fonts/75dpi
fi

if [ -d /usr/share/fonts/100dpi ]; then
	xset +fp /usr/share/fonts/100dpi
fi

xset s off
xset -dpms
xset -b

numlockx on

# [[ -f "$HOME/.screenlayout/$HOST.sh" ]] && bash "$HOME/.screenlayout/$HOST.sh"

[[ -f "$HOME/.asound.state" ]] && alsactl restore -f "$HOME/.asound.state"
