#!/usr/bin/env bash
export UU_ORDER="$UU_ORDER:~/.xprofile"

export XDG_DESKTOP_SESSION="i3"
export XDG_CURRENT_DESKTOP="i3"
export XDG_CONFIG_HOME="$HOME/.config"

export NO_AT_BRIDGE=1
export QT_SCALE_FACTOR=1.0
export QT_FONT_DPI=96

# This value is now set in /etc/pofile
# export QT_QPA_PLATFORMTHEME=qt5ct

export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

export RAY_PARENT_SCRIPT_DIR="$HOME/Sessions/ray-scripts"

if [ -d /usr/share/fonts/75dpi ]; then
	xset +fp /usr/share/fonts/75dpi
fi

if [ -d /usr/share/fonts/100dpi ]; then
	xset +fp /usr/share/fonts/100dpi
fi

xset s off
xset -dpms
xset -b

numlockx on

# [[ -f "$HOME/.screenlayout/$HOST.sh" ]] && bash "$HOME/.screenlayout/$HOST.sh"


[[ -f "$HOME/.asound.state" ]] && alsactl restore -f "$HOME/.asound.state"
